{% extends "base.html" %}

{% block title_head %}
<title>About</title>
{% endblock title_head %}

{% block contiene_header %}
        <header class="about">
            <div class="container position-relative">
                <div class="row justify-content-center">
                    <div class="text-center">
                        <div class="text-center text-white">
                            <!-- Page heading-->
                            <h1 class="comun" style="font-size: 50px">Quienes somos</h1>
                            <br>
                            <p>Un resumen de nuestro staf de profecionales que integran <span class="span">HARD GAMERS!</span>.</p>
                            <br>
                            <a href="#abajo" class="btn-1">Ver mas</a>
                            <!-- * * * * * * * * * * * * * * *-->
                            <!-- * * SB Forms Contact Form * *-->
                            <!-- * * * * * * * * * * * * * * *-->
                            <!-- This form is pre-integrated with SB Forms.-->
                            <!-- To make this form functional, sign up at-->
                            <!-- https://startbootstrap.com/solution/contact-forms-->
                            <!-- to get an API token!-->
                            <form class="form-subscribe" id="contactForm" data-sb-form-api-token="API_TOKEN">
                                <!-- Email address input-->
                                {% comment %} <div class="row">
                                    <div class="col">
                                        <input class="form-control form-control-lg" id="emailAddress" type="email" placeholder="Email Address" data-sb-validations="required,email" />
                                        <div class="invalid-feedback text-white" data-sb-feedback="emailAddress:required">Email Address is required.</div>
                                        <div class="invalid-feedback text-white" data-sb-feedback="emailAddress:email">Email Address Email is not valid.</div>
                                    </div>
                                    <div class="col-auto"><button class="btn btn-primary btn-lg disabled" id="submitButton" type="submit">Submit</button></div>
                                </div> {% endcomment %}
                                <!-- Submit success message-->
                                <!---->
                                <!-- This is what your users will see when the form-->
                                <!-- has successfully submitted-->
                                <div class="d-none" id="submitSuccessMessage">
                                    <div class="text-center mb-3">
                                        <div class="fw-bolder">Form submission successful!</div>
                                        <p>To activate this form, sign up at</p>
                                        <a class="text-white" href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                                    </div>
                                </div>
                                <!-- Submit error message-->
                                <!---->
                                <!-- This is what your users will see when there is-->
                                <!-- an error submitting the form-->
                                <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </header>
{% endblock contiene_header %}   

{% block h1_header %}

{% endblock h1_header %}

{% block section %}

{% comment %} <section class="features-icons bg-light text-center">
    <div class="container">
        <div class="row">
            <h1 class="comun">Quienes somos</h1>
            <p>Un resumen de nuestro staf de profecionales que integran <span class="span">HARD GAMERS!</span>.</p>
        </div>
    </div>
</section> {% endcomment %}

<section id="abajo" class="showcase">
    <div class="container-fluid p-0">
        <br>
        <div class="row g-0">
            <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('../static/assets/img/testimonials-1.jpg'); background-size: cover;"></div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2>Carina</h2>                        
                <p class="lead mb-0">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate ullam quibusdam harum eligendi, rerum impedit! Placeat illo quaerat blanditiis. Repellat necessitatibus odio inventore modi rerum laborum dolorem magnam autem magni qui ab voluptates, minima esse commodi. Suscipit eius sit exercitationem nisi rerum. Natus, quibusdam aspernatur!.</p>
            </div>
        </div>
        <br>
        <div class="row g-0">
            <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('../static/assets/img/testimonials-2.jpg'); background-size: cover;"></div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2>Martin</h2>
                <p class="lead mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum fugit provident fuga quibusdam reiciendis amet consequuntur, assumenda nisi saepe ipsam praesentium mollitia accusantium dolores architecto officiis autem deleniti blanditiis incidunt similique velit facere veniam repellendus beatae. Eum, dolorem odio ullam harum natus atque amet velit.</p>
            </div>
        </div>
        <br>
        <div class="row g-0">
            <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('../static/assets/img/testimonials-3.jpg'); background-size: cover;"></div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2>Sofia</h2>
                <p class="lead mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab quos molestiae pariatur possimus ducimus modi expedita ea veritatis corrupti, dolorum nobis error quod quas ipsam quis quibusdam facilis doloribus distinctio ut maiores repudiandae cumque! Repellendus explicabo amet quia sit ducimus modi aliquid nemo eos mollitia?.</p>
            </div>
        </div>
        <br>
    </div>
</section>
{% endblock section %}

{% block footer %}
<footer class="footer bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
                <ul class="list-inline mb-2">
                    <li class="list-inline-item"><a href="{% url 'inicio' %}"><strong>Inicio</strong></a></li>
                    <li class="list-inline-item">⋅</li>
                    <li class="list-inline-item"><a href="{% url 'about' %}"><strong>About</strong></a></li>
                    <li class="list-inline-item">⋅</li>
                    <li class="list-inline-item"><a href="{% url 'productos' %}"><strong>Productos</strong></a></li>
                    <li class="list-inline-item">⋅</li>
                    <li class="list-inline-item"><a href="{% url 'contacto' %}"><strong>Contacto</strong></a></li>
                    <li class="list-inline-item">⋅</li>                    
                </ul>
                <p class="text-muted small mb-4 mb-lg-0">&copy; <span class="span">HARD GAMERS!</span> 2024. All Rights Reserved.</p>
            </div>
            <div class="col-lg-6 h-100 text-center text-lg-end my-auto">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item me-4">
                        <a href="#!"><i class="bi-facebook fs-3"></i></a>
                    </li>
                    <li class="list-inline-item me-4">
                        <a href="#!"><i class="bi-twitter fs-3"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#!"><i class="bi-instagram fs-3"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
{% endblock footer %}