{% extends "base.html" %}

{% block title_head %}
<title>About</title>
{% endblock title_head %}

{% block contiene_header %}

{% endblock contiene_header %}

{% block h1_header %}
Inicio!
{% endblock h1_header %}

{% block section %}

<section class="features-icons bg-light text-center">
    <div class="container">
        <div class="row">
            <h1>Quienes somos</h1>
            <p>Un resumen de nuestro staf de profecionales que integran <span class="span">HARD GAMERS!</span>.</p>
        </div>
    </div>
</section>

<section class="showcase">
    <div class="container-fluid p-0">
        <br>
        <div class="row g-0">
            <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('../static/assets/img/testimonials-1.jpg'); background-size: cover;"></div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2>Carina</h2>                        
                <p class="lead mb-0">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate ullam quibusdam harum eligendi, rerum impedit! Placeat illo quaerat blanditiis. Repellat necessitatibus odio inventore modi rerum laborum dolorem magnam autem magni qui ab voluptates, minima esse commodi. Suscipit eius sit exercitationem nisi rerum. Natus, quibusdam aspernatur!.</p>
            </div>
        </div>
        <br>
        <div class="row g-0">
            <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('../static/assets/img/testimonials-2.jpg'); background-size: cover;"></div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2>Martin</h2>
                <p class="lead mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum fugit provident fuga quibusdam reiciendis amet consequuntur, assumenda nisi saepe ipsam praesentium mollitia accusantium dolores architecto officiis autem deleniti blanditiis incidunt similique velit facere veniam repellendus beatae. Eum, dolorem odio ullam harum natus atque amet velit.</p>
            </div>
        </div>
        <br>
        <div class="row g-0">
            <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('../static/assets/img/testimonials-3.jpg'); background-size: cover;"></div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2>Sofia</h2>
                <p class="lead mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab quos molestiae pariatur possimus ducimus modi expedita ea veritatis corrupti, dolorum nobis error quod quas ipsam quis quibusdam facilis doloribus distinctio ut maiores repudiandae cumque! Repellendus explicabo amet quia sit ducimus modi aliquid nemo eos mollitia?.</p>
            </div>
        </div>
        <br>
    </div>
</section>
{% endblock section %}



{% block footer %}
<footer class="footer bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
                <ul class="list-inline mb-2">
                    <li class="list-inline-item"><a href="#!"><strong>Inicio</strong></a></li>
                    <li class="list-inline-item">⋅</li>
                    <li class="list-inline-item"><a href="#!"><strong>Productos</strong></a></li>
                    <li class="list-inline-item">⋅</li>
                    <li class="list-inline-item"><a href="#!"><strong>Contacto</strong></a></li>
                   
                </ul>
                <p class="text-muted small mb-4 mb-lg-0">&copy; Your Website 2023. All Rights Reserved.</p>
            </div>
            <div class="col-lg-6 h-100 text-center text-lg-end my-auto">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item me-4">
                        <a href="#!"><i class="bi-facebook fs-3"></i></a>
                    </li>
                    <li class="list-inline-item me-4">
                        <a href="#!"><i class="bi-twitter fs-3"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#!"><i class="bi-instagram fs-3"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
{% endblock footer %}

