{% extends "base.html" %}

{% block title %}
<title>Contacto</title>
{% endblock title %}

{% block contiene_header %}

{% endblock contiene_header %}

{% block h1_header %}
Contacto
{% endblock h1_header %}

{% block section %}

<section class="features-icons bg-light text-center">
    <div class="container">
        <div class="row">
            <h1 class="comun">Contactanos en:</h1>
            <p>Podes visitar nuestro local de <span class="span">HARD GAMERS!</span> en:</p>
            
                <li>Direccion: Belgrano 1981</li>
                <li>Email: hardgamers@gmail.com</li>
                <li>Telefono: 555-5555</li>
                <li>Horario: Lun a Vier de 9 a 19</li>
            
        </div>
    </div>
</section>

<section class="showcase">
    <div class="container text-center">
        <div class="row">       
            
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3278.6962985580076!2d-58.39310132368033!3d-34.738048872906326!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccd5f14f4ded7%3A0xced372f5c0fbdc12!2sBelgrano%201981%2C%20B1828ACU%20Banfield%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1700756705359!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            
        </div>
    </div>
</section>

{% endblock section %}

{% block footer %}

<footer class="footer bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
                <ul class="list-inline mb-2">
                    <li class="list-inline-item"><a href="#!"><strong>Inicio</strong></a></li>
                    <li class="list-inline-item">⋅</li>
                    <li class="list-inline-item"><a href="#!"><strong>About</strong></a></li>
                    <li class="list-inline-item">⋅</li>
                    <li class="list-inline-item"><a href="#!"><strong>Productos</strong></a></li>
                   
                </ul>
                <p class="text-muted small mb-4 mb-lg-0">&copy; Your Website 2023. All Rights Reserved.</p>
            </div>
            <div class="col-lg-6 h-100 text-center text-lg-end my-auto">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item me-4">
                        <a href="#!"><i class="bi-facebook fs-3"></i></a>
                    </li>
                    <li class="list-inline-item me-4">
                        <a href="#!"><i class="bi-twitter fs-3"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#!"><i class="bi-instagram fs-3"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

{% endblock footer %}

