{% extends "base.html" %}

{% block title_head %}
<title>Productos</title>
{% endblock title_head %}

{% block contiene_header %}
        <header class="about">
            <div class="container position-relative">
                <div class="row justify-content-center">
                    <div class="text-center">
                        <div class="text-center text-white">
                            <!-- Page heading-->
                            <h1 class="comun" style="font-size: 50px">Nuestros Productos</h1>
                            <br>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. <span class="span">HARD GAMERS!</span> Dolor, expedita laboriosam suscipit rem eum, ratione sequi nesciunt obcaecati totam odio quos ab molestias dicta nobis ipsam enim nihil modi itaque?</p>
                            <br>
                            <a href="#abajo" class="btn-1">Ver mas</a>
                            <!-- * * * * * * * * * * * * * * *-->
                            <!-- * * SB Forms Contact Form * *-->
                            <!-- * * * * * * * * * * * * * * *-->
                            <!-- This form is pre-integrated with SB Forms.-->
                            <!-- To make this form functional, sign up at-->
                            <!-- https://startbootstrap.com/solution/contact-forms-->
                            <!-- to get an API token!-->
                            <form class="form-subscribe" id="contactForm" data-sb-form-api-token="API_TOKEN">
                                <!-- Email address input-->
                                {% comment %} <div class="row">
                                    <div class="col">
                                        <input class="form-control form-control-lg" id="emailAddress" type="email" placeholder="Email Address" data-sb-validations="required,email" />
                                        <div class="invalid-feedback text-white" data-sb-feedback="emailAddress:required">Email Address is required.</div>
                                        <div class="invalid-feedback text-white" data-sb-feedback="emailAddress:email">Email Address Email is not valid.</div>
                                    </div>
                                    <div class="col-auto"><button class="btn btn-primary btn-lg disabled" id="submitButton" type="submit">Submit</button></div>
                                </div> {% endcomment %}
                                <!-- Submit success message-->
                                <!---->
                                <!-- This is what your users will see when the form-->
                                <!-- has successfully submitted-->
                                <div class="d-none" id="submitSuccessMessage">
                                    <div class="text-center mb-3">
                                        <div class="fw-bolder">Form submission successful!</div>
                                        <p>To activate this form, sign up at</p>
                                        <a class="text-white" href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                                    </div>
                                </div>
                                <!-- Submit error message-->
                                <!---->
                                <!-- This is what your users will see when there is-->
                                <!-- an error submitting the form-->
                                <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        {% endblock contiene_header %}

{% block h1_header %}

{% endblock h1_header %}

{% block section %}

{% comment %} <section id="abajo" class="features-icons bg-light text-center">
    <div class="container">
        <div class="row">
            <p class="comun">Nuestros Productos</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor, expedita laboriosam suscipit rem eum, ratione sequi nesciunt obcaecati totam odio quos ab molestias dicta nobis ipsam enim nihil modi itaque?</p>
        </div>
    </div>
</section> {% endcomment %}

<section id="abajo" class="testimonials text-center bg-white">
    <div class="container">        
        <div class="row">
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-0 mb-3" src="../static/assets/img/video3.jpg" alt="..." style="max-width: 250px; height: auto;" />
                    <h2>Placas de video</h2>
                    <h5>Nvidia - AMD </h5>
                    <p class="font-weight-light mb-0">Poseemos las principales marcas de tarjetas graficas del mercado(AMD - Nvidia), desde gama baja hasta las placas mas potentes.</p>
                    <br>
                    <a href={% url "placas" %} class="btn-1">Placas de video</a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-0 mb-3" src="../static/assets/img/proce2.jpg" alt="..." style="max-width: 250px; height: auto;"/>
                    <h2>Procesadores</h2>
                    <h5>AMD - Intel</h5>
                    <p class="font-weight-light mb-0">Poseemos las principales marcas de procesadores del mercado(AMD - Intel), desde gama baja hasta los procesadores mas potentes.</p>
                    <br>
                    <a href={% url "procesadores" %} class="btn-1">Procesadores</a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-0 mb-3" src="../static/assets/img/monitor3.jpg" alt="..." style="max-width: 250px; height: auto;" />
                    <h2>Monitores</h2>
                    <h5>La mejor linea</h5>
                    <p class="font-weight-light mb-0">Poseemos un amplio abanico de diferentes marcas y gamas de monitores, como LG, Samgung, Sony, Dell, etc.</p>
                    <br>
                    <br>
                    <a href={% url "monitores" %} class="btn-1">Monitores</a>
                </div>
            </div>
        </div>
    </div>
</section>

{% comment %} <section id="abajo" class="blog" >
    <span></span>
    <h2>Nuestros Productos</h2>

    <div class="blog-content container">
        <div class="blog-1">
            <img src="../static/assets/img/video3.jpg" alt="">
            <div class="blog-txt">
                <span> <strong> Placas de video </strong> </span>
                <h3>Nvidia - AMD </h3>
                <p>Poseemos las principales marcas de tarjetas graficas del mercado(AMD - Nvidia), desde gama baja hasta las placas mas potentes.
                </p>
                <a href= class="btn-1">Placas de video</a>
            </div>
        </div>

        <div class="blog-1">
            <img src="../static/assets/img/proce2.jpg" alt="">
            <div class="blog-txt">
                <span> <strong> Procesadores </strong> </span>
                <h3>AMD - Intel</h3>
                <p>Poseemos las principales marcas de procesadores del mercado(AMD - Intel), desde gama baja hasta los procesadores mas potentes.
                </p>
                <a href= class="btn-1">Procesadores</a>
            </div>
        </div>

        <div class="blog-1">
            <img src="../static/assets/img/monitor3.jpg" alt="">
            <div class="blog-txt">
                <span> <strong> Monitores </strong> </span>
                <h3>La mejor linea</h3>
                <p>Poseemos un amplio abanico de diferentes marcas y gamas de monitores, como LG, Samgung, Sony, Dell, etc.
                </p>
                <a href= class="btn-1">Monitores</a>
            </div>
        </div>

    </div>
</section> {% endcomment %}

{% endblock section %}

{% block footer %}

<footer class="footer bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
                <ul class="list-inline mb-2">
                    <li class="list-inline-item"><a href="#!"><strong>Inicio</strong></a></li>
                    <li class="list-inline-item">⋅</li>
                    <li class="list-inline-item"><a href="#!"><strong>About</strong></a></li>
                    <li class="list-inline-item">⋅</li>
                    <li class="list-inline-item"><a href="#!"><strong>Contacto</strong></a></li>
                   
                </ul>
                <p class="text-muted small mb-4 mb-lg-0">&copy; Your Website 2023. All Rights Reserved.</p>
            </div>
            <div class="col-lg-6 h-100 text-center text-lg-end my-auto">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item me-4">
                        <a href="#!"><i class="bi-facebook fs-3"></i></a>
                    </li>
                    <li class="list-inline-item me-4">
                        <a href="#!"><i class="bi-twitter fs-3"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#!"><i class="bi-instagram fs-3"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

{% endblock footer %}